.carouselDiv {
    width: 100%;
    margin: auto;
    /* padding-top: 30px; */
}

.carousel {
    /* background-color: #f0ead2; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
    width: 80%;
    border: 1px solid gray;
    margin: auto;
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.headingDiv {
    margin: auto;
    color: #53524f;
}

.headingDiv h1 {
    font-size: 50px;
    font-weight: bold;
    color:  #00202e;
}

.headingDiv .line {
    color: #53524f;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 4px;
    width: 60px;
    height: 2px;
    background: #000;
}

.ImgDiv img {
    width: 500px;
    height: 500px;
}

.carousel .searchBar {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-top: 20px;
}

.carousel .searchBar input {
    width: 300px;
    height: 50px;
    border: none;

}

.carousel .searchBar img {
    width: 40px;
    height: 40px;
}

/* top */
@media (min-width: 375px) and (max-width: 667px) {
    .carousel {
        width: 350px;
        margin: auto;
        height: auto;
        flex-direction: column;
    }

    .headingDiv {
        padding: 20px;
    }

    .headingDiv h1 {
        font-size: 30px;
    }

    .carousel .searchBar {
        width: 300px;
        margin: auto;
    }

    .ImgDiv img {
        width: 350px;
        height: 300px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel {
        width: 750px;
        margin: auto;
        height: auto;
    }

    .headingDiv {
        padding: 20px;
    }

    .headingDiv h1 {
        font-size: 30px;
    }

    .carousel .searchBar {
        width: 250px;
        margin: 20px;
    }

    .ImgDiv img {
        width: 400px;
    }
}